{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<div id="global-breadcrumb" class="header-context">
	<ol role="breadcrumbs" class="group">
		<li><a href="#">Home</a></li>
		<li><a href="#">Benefits</a></li>
		<li><strong><a href="#">Death and benefits</a></strong></li>
	</ol>
</div>

<main id="content" role="main">




  <div class="grid-row">
    <div class="column-two-thirds">

<!-- <aside>
  <div class="inner">
    <a href="#" class="show-all-parts">Show all parts of this guide</a><nav role="navigation" class="page-navigation page-navigation-closed" aria-label="parts to this guide"><ol>
              <li class="active">
                <span class="part-number">1.</span>
                <span>Check if you can apply</span>
              </li>
              <li>
                <span class="part-number">2.</span>
                <a title="Part 2: If your spouse is a British citizen" href="/becoming-a-british-citizen/if-your-spouse-is-a-british-citizen">If your spouse is a British citizen</a>
              </li>
              <li>
                <span class="part-number">3.</span>
                <a title="Part 3: How to apply" href="/becoming-a-british-citizen/how-to-apply">How to apply</a>
              </li>
              <li>
                <span class="part-number">4.</span>
                <a title="Part 4: Where to send your application" href="/becoming-a-british-citizen/where-to-send-your-application">Where to send your application</a>
              </li>
        </ol><ol start="5">
              <li>
                <span class="part-number">5.</span>
                <a title="Part 5: After you’ve applied" href="/becoming-a-british-citizen/after-youve-applied">After you’ve applied</a>
              </li>
              <li>
                <span class="part-number">6.</span>
                <a title="Part 6: Citizenship ceremonies" href="/becoming-a-british-citizen/citizenship-ceremonies">Citizenship ceremonies</a>
              </li>
              <li>
                <span class="part-number">7.</span>
                <a title="Part 7: After your citizenship ceremony" href="/becoming-a-british-citizen/after-your-citizenship-ceremony">After your citizenship ceremony</a>
              </li>
        </ol>
        
        
    </nav>
  </div>
</aside> -->

    

      <h1 class="heading-xlarge">The GOV.UK prototype kit - HELLO WORLD - MO FO - WORD</h1>

      <p>
        This kit lets you rapidly create HTML prototypes of GOV.UK services.
      </p>

      <p>
        It contains all you need to prototype anything from simple static pages to complex, data-driven transactions.
      </p>

      <h2 class="heading-medium">About this page</h2>

      <p>We recommend you add links to your prototype to this page, rather than delete it.
        You'll find this page in the kit at '/app/views/index.html'.</p>
      <p>You can change the service name by editing the file '/app/config.js'.</p>

			<h2 class="heading-medium">Examples and documentation</h2>

			<ul class="list list-bullet">
				<li><a href="/examples">Example pages and patterns</a></li>
				<li><a href="https://github.com/alphagov/govuk_prototype_kit/tree/master/docs">
						Read the full documentation</a></li>
			</ul>

      <h2 class="heading-medium">Other resources</h2>

			<ul class="list list-bullet">
				<li>
					<a href="http://govuk-elements.herokuapp.com/snippets/">
						Guide to GOV.UK Elements
					</a>
				</li>
				<li>
					<a href="https://www.gov.uk/service-manual">
						Service design manual
					</a>
				</li>
				<li>
					<a href="https://www.gov.uk/design-principles">
						Government Digital Service Design Principles
					</a>
				</li>
			</ul>

    </div>
  </div>
</main>

{% endblock %}


