{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<div id="global-breadcrumb" class="header-context">
	<ol role="breadcrumbs" class="group">
		<li><a href="#">Home</a></li>
		<li><a href="#">Benefits</a></li>
		<li><strong><a href="#">Death and benefits</a></strong></li>
	</ol>
</div>

<main id="content" role="main">

<h1 class="heading-xlarge" style="margin-bottom:1em;">Your tax credits account</h1>


  <div class="grid-row">
    <div class="column-two-thirds">

<aside>
  <div class="inner">
    <a href="#" class="show-all-parts">Show all parts of this guide</a>
    	<nav role="navigation" class="page-navigation page-navigation-closed" aria-label="parts to this guide"><ol>
              <li class="active">
                <span>Next payments</span>
              </li>
              <li>
                <a title="" href="#">Who's on your claim</a>
              </li>
              <li>
                <a title="" href="#">Your details</a>
              </li>
              <li>
                <a title="" href="#">Your partner's details</a>
              </li>
              <li>
                <a title="" href="#">Children</a>
              </li>
        </ol>
        <ol>
              <li>
                <a title="" href="#">Employment</a>
              </li>
              <li>
                <a title="" href="#">Benefits</a>
              </li>
              <li>
                <a title="" href="#">Health</a>
              </li>
              <li>
                <a title="" href="#">Other changes</a>
              </li>
              <li>
                <a title="" href="#">*RENEWALS*</a>
              </li>
        </ol>
        
        
    </nav>
  </div>
</aside>



      <h2 class="heading-large">Next payments</h2>

      <p>
        Tortor magna. Amet natoque? Porta. Montes integer vel, sit, aenean magna tincidunt cras tincidunt, sit, aenean est integer dictumst velit. Tortor! Aenean, sagittis lundium turpis aenean elementum.
      </p>

      <p>
      	Dignissim lundium a, sagittis magnis sit a tristique aenean? Odio egestas tristique pellentesque, penatibus eu augue pulvinar? Sit habitasse in arcu? Tristique rhoncus ut, magnis eros pellentesque rhoncus sociis quis?
      </p>





    </div>
  </div>
</main>

{% endblock %}


